.weather-box{
  margin-top:40px;
  padding:25px;
  border-radius:12px;
  background-color: white;
  /* different shadow */
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
  text-align:center;
}

.city-name{
  font-weight:bold;
  font-size:20px;
  margin-bottom:10px;
  font-style: italic;
}

.weather-box p{
  margin:6px ;
}

.weather-box i{
  font-size:18px;
  margin-right:5px;
}

button{
  padding: 7px 14px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-style: italic;
}

