body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #e4dad1, #f8a686);

}

h1{
  margin-bottom: 25px;
}

input{
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color:#fdfbfa ;
}
/* input:focus{
  outline: none;
} */

button{
  padding: 6px 10px;
  background-color:rgb(229, 226, 234) ;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  cursor: pointer;
}
button:hover{
  background-color:rgb(207, 203, 214);
}

#box{
  margin-top:20px;
  background:rgb(235, 234, 231);
  display:inline-block;
  padding:30px;
  width:30%;
  border-radius:12px;
  box-shadow: 0px 5px 15px rgba(2, 2, 2, 0.2);
}
