body{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #e4dad1, #f8a686);
}

h1{
  margin: 25px;
}

input{
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color:#fdfbfa ;
  border:1px solid #ccc;
  width: 250px;
}

button{
  padding: 7px 14px;
  background-color:rgb(229, 226, 234) ;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-style: italic;
  
}

button:hover{
  background-color:rgb(207, 203, 214);
}

